<ion-view view-title="Contact Us">

  <ion-content>

    <div class="card">

      <div class="item item-divider">
        Location Information
      </div>

      <div class="item item-text-wrap">

        <ul class="ion-list col-60">

          <li>
            <strong style="font-size: 125%">Our Address</strong>
          </li>
          <li>
            121, Clear Water Bay Road
            Clear Water Bay, Kowloon
            HONG KONG
          </li>
          <li>
            <i class="icon ion-ios-telephone">:</i>
            +852 1234 5678
          </li>
          <li>
            <i class="icon ion-printer">:</i>
            +852 8765 4321
          </li>
          <li>
            <i class="icon ion-email">:</i>
            <a href="#">confusion@food.net</a>
          </li>
        </ul>
      </div>

      <div class="button-bar">

        <a class="button button-large button-positive" href="#">
          <i class="icon ion-android-call"></i> Call
        </a>
        <a class="button button-large button-calm" href="#">
          <i class="icon ion-social-skype"></i> Skype
        </a>
        <a class="button button-large button-balanced" href="#">
          <i class="icon ion-email"></i> Email
        </a>
      </div>

    </div>
  </ion-content>
</ion-view>
