<ion-modal-view>
  <ion-header-bar>
    <h1 class="title">
      Submit comment on dish
    </h1>
    <div class="buttons">
      <button class="button button-clear button-stable" ng-click="closeDishModal()">Close
      </button>
    </div>
  </ion-header-bar>
  <ion-content>
    <form id="commentForm" name="commentForm" ng-submit="submitCommentForm()">
      <div class="list">

        <label class="item item-input item-select">
          <span class="input-label">Rating</span>
          <select ng-model="mycomment.rating">
            <option ng-repeat="n in [1,2,3,4,5]" value="{{n}}">{{n}}</option>
          </select>
        </label>
        <label class="item item-input">
          <span class="input-label">Your Name</span>
          <input type="text" ng-model="mycomment.author"
                 name="fullName"/>
        </label>
        <label class="item item-input">
          <span class="input-label">Your Comment</span>
          <textarea  ng-model="mycomment.comment"/>
          </textarea name="comment">
        </label>
        <label class="item">
          <button type="submit" ng-click="submitComment()" class="button button-block button-positive">
            Submit
          </button>
        </label>
      </div>
    </form>
  </ion-content>
</ion-modal-view>
